.main-container{
    background-color: rgb(53,53,53);
    width: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selection-cont{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}
.selection-cont p{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
}
select{
    font-size: 20px;
    padding: 5px;
    border-radius: 2px;
    border: none;
    height: 45px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

select:focus{
    outline: none;
}

option{
    color:rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    width:180px;
    height: 60px;
    background-color: rgb(53,53,53);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button:hover{
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
    padding: 3px 10px;
}

.result-container{
    display: flex;
    background-color:rgb(235, 235, 235);
    margin: 10px;
    width: auto;
    /* width: 55%; */
    padding: 0px 30px;
    justify-content:space-evenly;
    border-radius:7px;
}

.result-container p{
    color: rgb(36, 36, 36);
    font-weight: 700;
    font-size: 27px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Header-title{
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.linko{
    text-decoration: none;
    /* color:rgb(187, 208, 243); */
    color: rgb(160, 177, 252);
}
.linko:hover{
    cursor: pointer;
    outline: none;
    color: rgb(87, 117, 252);
}

.titro{
    text-decoration: none;
    /* color:rgb(187, 208, 243); */
    color: rgb(223, 228, 253);
}
.titro:hover{
    /* cursor: pointer; */
    cursor: default;
    outline: none;
    color: rgb(172, 187, 252);
}

span {
    font-size: 1em;
    zoom: 1.5;
  }

  span svg {
    fill: #3b5998;
    height: 1em;
    vertical-align: bottom;
  }
a span {
  display: none;
  position: absolute;
  color: rgb(155, 193, 250);
  /* background: #000; */
  padding: 5px;
}

a {
  position: relative;
}

a:hover span {
  display: contents;
  text-align: center;
}
.tooltip:hover{
    color: rgb(87, 117, 252);
    /* color: rgb(255, 207, 185); */
}
