/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('img1.jpg');
    background-size: cover;
    /* background-repeat:initial; */
}
footer {
    color:rgb(255, 255, 255);
    /* background-color: #ccc; */
    text-align: center;
    /* height: 120px; */
    /* padding:  40px; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }